<!-- HEADER -->
<div class="header row" ng-class="{solid: scroll > 300}" scroll-position="scroll">
	<div class="three columns">
		<div class="logo" du-smooth-scroll scroll-top><h1>DIM</h1></div>
	</div>
	<div class="nav nine columns u-pull-right">				
		<a class="nav-link u-pull-right" href="#{{sct.name}}" ng-repeat="sct in sections | orderBy: '-position'" du-smooth-scroll>{{sct.name}}</a>
	</div>
</div>
<!-- end HEADER -->

<!-- MAIN -->
<div class="main" ng-controller="mainController">		    	
	<div id="body" class="body">
		<div id="banner" class="body-section banner" full-height>
			<div class="container vertical">
				<div class="seven columns">
					<h2>The Key To Enterprise</h2>
					<p>. . . is a digital, cloud solution for 100% visibility and control over all branches .</p>
				</div>
			</div>
			<div class="down-arrow blue"></div>
		</div>
		<div id="{{sct.name}}" class="row body-section {{sct.name}}" ng-include="sct.url" ng-repeat="sct in sections | orderBy:'position'" full-height></div>
	</div>
</div>
<!-- end MAIN -->

<!-- FOOTER -->
<div class="footer row">
	<div class="two columns u-pull-right">
		<h6>About Us</h6>
		<ul>
			<li>Location</li>
			<li>Contact</li>
			<li>Terms of Service</li>
			<li>Privacy Policy</li>
		</ul>
	</div>
	<div class="two columns u-pull-right">
		<h6>Social</h6>
		<ul>
			<li>Location</li>
			<li>Contact</li>
			<li>Terms of Service</li>
			<li>Privacy Policy</li>
		</ul>
	</div>
	<div class="two columns u-pull-right">
		<h6>Sitemap</h6>
		<ul>
			<li>Location</li>
			<li>Contact</li>
			<li>Terms of Service</li>
			<li>Privacy Policy</li>
		</ul>
	</div>
</div>
<!-- end FOOTER -->