<!-- HEADER -->
<div class="header row" ng-class="{solid: scroll > 150}" scroll-position="scroll">
	<div class="six columns">
		<div class="logo" scroll-top><h1 class="u-pull-left">Dispatch</h1><div class="logo-triangle u-pull-left"></div></div>
	</div>
	<div class="nav six columns u-pull-right">		
		<div class="nav-toggle" snap-toggle="right"><span></span><span></span><span></span></div>
		<a class="nav-link u-pull-right" href="#{{sct.name}}" ng-repeat="sct in sections | orderBy: '-position'" du-smooth-scroll du-scrollspy>{{sct.name}}</a>
		<span class="scroll-top vertical absolute u-pull-right" scroll-top></span>		
	</div>
</div>
<!-- end HEADER -->

<!-- MAIN -->
<div class="main" ng-controller="mainController">		    	
	<div id="body" class="body">
		<div id="banner" class="body-section banner" full-height>
			<div class="container vertical">
				<div class="seven columns vertical absolute left">
					<h2>The Key To Enterprise</h2>
					<p>A world of visual output from a single screen.</p>
					<a class="cta-button button" href="#features" du-smooth-scroll>Unlock</a>
				</div>
				<div class="five columns u-pull-right" width-height>
					<div class="hero-image"><div class="image"><div class="image-shadow"></div></div></div>
				</div>
			</div>
			<div class="down-arrow blue"></div>
		</div>
		<div id="{{sct.name}}" class="row body-section {{sct.name}}" ng-include="sct.url" ng-repeat="sct in sections | orderBy:'sct.position'" full-height><span>{{sct}}</span></div>
	</div>
</div>
<!-- end MAIN -->

<!-- FOOTER -->
<div class="footer row">
	<div class="three columns u-pull-right">
		<h5>About Us</h5>
		<ul>
			<li>Location</li>
			<li>Contact</li>
			<li>Terms of Service</li>
			<li>Privacy Policy</li>
		</ul>
	</div>
	<div class="three columns u-pull-right">
		<h5>Social</h5>
		<ul>
			<li>Location</li>
			<li>Contact</li>
			<li>Terms of Service</li>
			<li>Privacy Policy</li>
		</ul>
	</div>
	<div class="three columns u-pull-right">
		<h5>Sitemap</h5>
		<ul>
			<li>Location</li>
			<li>Contact</li>
			<li>Terms of Service</li>
			<li>Privacy Policy</li>
		</ul>
	</div>
</div>
<!-- end FOOTER -->