<!-- CONTACT -->
<div class="container vertical">

	<div class="six columns" ng-class="{'vertical absolute left': windowWidth > 750}">
		<h3></h3>
		<p>Have any questions or curiosities? Shoot us a message, or include your number if you want to get straight to business.</p>
	</div>

	<div class="contact-form six columns u-pull-right">
		<form>
		  <div class="row contact-methods">
		    <div class="six columns">
		      <label for="exampleEmailInput">Email</label>
		      <input class="u-full-width" type="email" id="exampleEmailInput" ng-model="contactForm.email" required>
		    </div>
		    <div class="six columns">
		      <label for="exampleEmailInput">Number</label>
		      <input class="u-full-width" type="tel" id="exampleEmailInput" ng-model="contactForm.number">
		    </div>		    
		  </div>
		  <label for="exampleMessage">Your Message</label>
		  <textarea class="u-full-width" placeholder="Ask us anything. We love open dialogue!" id="exampleMessage" required ng-model="contactForm.message"></textarea>
		  <input class="button" type="submit" value="Submit">
		</form>
	</div>

</div>
<!-- end CONTACT -->