<!-- FEATURES -->
<div class="container vertical" ng-controller="featuresController" ng-switch on="featureActive" trigger-slider="scrollTop">
	<div class="hero-image-wrapper six columns">
		<div class="hero-image"></div>
	</div>

	<div class="six columns vertical absolute right u-pull-right" ng-class="{'vertical absolute right': windowWidth > 750}">
		
		<div class="slider-container">
			<div class="slider-wrapper" slider-wrapper-width="containerWidth">

				<div class="slider-item vertical transition" ng-style="sliderItemsWidth" ng-switch-when="1">
					<h3>Powerful Features</h3>		
					<p>Dispatch targets every visual display management and deployment issue faced by a large enterprise body.</p> 
					<p>Whether it's 10 or 400 locations, the solution is the same - keep content in the cloud for scalability, and let Dispatch take care of the rest.</p>
				</div>

				<div class="slider-item vertical transition" ng-style="sliderItemsWidth" ng-switch-when="2">
					<h3>Enterprise Core Account</h3>		
					<ul>
						<li>Consolidated assets for management and distribution</li>
						<li>Instantly update all franchise display content within seconds</li>
						<li>Customize the level of control that each franchise can have</li>
					</ul>
				</div>
				<div class="slider-item vertical transition" ng-style="sliderItemsWidth" ng-switch-when="3">
					<h3>Franchise Network Accounts</h3>		
					<ul>
						<li>Create and maintain branch accounts</li>
						<li>Receive update requests from individual franchises</li>
						<li>Eliminate turnaround time and delayed communications</li>
					</ul>
				</div>
				<div class="slider-item vertical transition" ng-style="sliderItemsWidth" ng-switch-when="4">
					<h3>Realtime Updates</h3>		
					<ul>
						<li>All visual assets are pushed and powered by a central cloud network</li>
						<li>Update a single, multiple, or all location displays</li>
					</ul>
				</div>
				<div class="slider-item vertical transition" ng-style="sliderItemsWidth" ng-switch-when="5">
					<h3>Dispatch Community</h3>		
					<ul>
						<li>Interact with all branches for an open ecosystem</li>
						<li>Promote direct communication and zero turnaround time with direct messaging</li>
					</ul>
				</div>
				<div class="slider-item vertical transition" ng-style="sliderItemsWidth" ng-switch-when="6">
					<h3>Hardware Bundle</h3>		
					<ul>
						<li>All physical units are conveniently packaged and shipped straight to each location</li>
						<li>Organized manual for professional or self-installation</li>
						<li>Modular pricing for only the parts you need</li>
					</ul>
				</div>
				<div class="slider-item vertical transition" ng-style="sliderItemsWidth" ng-switch-when="7">
					<h3>Lightweight Processor</h3>		
					<ul>
						<li>Each panel is powered by wallet-sized machine</li>
						<li>1-step plugin-and-display deployment</li>
					</ul>
				</div>
				<div class="slider-item vertical transition" ng-style="sliderItemsWidth" ng-switch-when="8">
					<h3>Reinforcement Protocol</h3>		
					<ul>
						<li>Duplicate OS system on a second microSD chip</li>
						<li>High-quality physical menu poster</li>
						<li>Poster hook-and-rod package</li>
					</ul>
				</div>

			</div>
			<div class="slider-nav">
				<span class="transition" ng-click="featureActive = '1'" ng-class="{active: featureActive == 1}"></span>
				<span class="transition" ng-click="featureActive = '2'" ng-class="{active: featureActive == 2}"></span>
				<span class="transition" ng-click="featureActive = '3'" ng-class="{active: featureActive == 3}"></span>
				<span class="transition" ng-click="featureActive = '4'" ng-class="{active: featureActive == 4}"></span>
				<span class="transition" ng-click="featureActive = '5'" ng-class="{active: featureActive == 5}"></span>
				<span class="transition" ng-click="featureActive = '6'" ng-class="{active: featureActive == 6}"></span>
				<span class="transition" ng-click="featureActive = '7'" ng-class="{active: featureActive == 7}"></span>
				<span class="transition" ng-click="featureActive = '8'" ng-class="{active: featureActive == 8}"></span>
			</div>
			<a href="" class="button transition">Try Demo</a>
		</div>

		
	</div>
</div>

<div class="down-arrow white right"></div>
<!-- end FEATURES -->