<!-- INTRO -->
<div class="container vertical">	

	<div class="six columns">
		<h3>This Is The Intro</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>

	<div class="six columns">
		<div class="hero-image"><span class="vertical">Image Placeholder</span></div>
	</div>

</div>

<div class="down-arrow white right"></div>
<!-- end INTRO -->