<!-- INTRO -->
<div class="container vertical">	

	<div class="six columns">
		<div class="hero-image"></div>
	</div>

	<div class="six columns vertical absolute right u-pull-right">
		<h3>Optimize</h3>
		<p>Better is always attainable. We obsess over the perfect marriage of fine detail and potent output.</p>
		<p>Our desire to optimize is always aligned with your necessities, because not only are you always right, but you always deserve better.</p>
	</div>

</div>

<div class="down-arrow white right"></div>
<!-- end INTRO -->