<!-- CONTACT -->
<div class="container vertical" ng-controller="pricingController">

	<div class="price-options six columns" ng-class="{'vertical absolute left': windowWidth > 750}">
		<h3>Pricing</h3>
		<form name="pricing">

			<div class="price-options-top">
				<div class="row">
					<span class="label">Locations</span><rzslider rz-slider-floor="1" rz-slider-ceil="500" rz-slider-model="selections.numLocations"rz-slider-hide-limit-labels="true"></rzslider><span class="number" ng-bind="selections.numLocations"></span>
				</div>
			  <div class="row">
			  	<span class="label">Displays</span><rzslider rz-slider-floor="1" rz-slider-ceil="10" rz-slider-model="selections.numDisplays" rz-slider-hide-limit-labels="true"></rzslider><span class="number" ng-bind="selections.numDisplays"></span>
			  </div>
			</div>

			<div class="price-options-middle">
				<h5 class="title">Software Bundle</h5>
				<div class="row">
					<input type="checkbox" ng-true-value="100" ng-false-value="0" ng-model="selections.corporate">Corporate Account<br>
					<input type="checkbox" ng-true-value="150" ng-false-value="0" ng-model="selections.franchise">Franchise Accounts<br>
					<input type="checkbox" ng-true-value="50" ng-false-value="0" ng-model="selections.community">Dispatch Community<br>
				</div>				
			</div>

			<div class="price-options-bottom">
				<h5 class="title">Hardware Bundle</h5>
				<div class="row">
					<input type="checkbox" ng-true-value="1000" ng-false-value="1" ng-model="selections.displays">Commercial Displays<br>
					<input type="checkbox" ng-true-value="300" ng-false-value="0" ng-model="selections.design">Custom Display Designs<br>
					<input type="checkbox" ng-true-value="600" ng-false-value="0" ng-model="selections.installation">Hardware Installation Services<br>
					<input type="checkbox" ng-true-value="200" ng-false-value="0" ng-model="selections.backup">Backup Solutions<br>
					<select>
					  <option value="wall" ng-true-value="600" ng-false-value="0" ng-model="selections.installation" selected>Wall</option>
					  <option value="ceiling" ng-true-value="800" ng-false-value="0" ng-model="selections.installation">Ceiling</option>
					</select>
				</div>
			</div>

		</form>
	</div>

	<div class="price-box six columns u-pull-right" price-height>

		<table class="price-box-table">
			<tr>
				<th></th>
				<th>Per Location</th>
				<th>All Locations</th>				
			</tr>
			<tr>
				<th>One-Time</th>
				<td ng-model="quote.perLocation.oneTime">{{quote.perLocation.oneTime | currency:"$":0}}</td>
				<td ng-model="quote.allLocations.oneTime">{{quote.allLocations.oneTime | currency:"$":0}}</td>
			</tr>
			<tr>
				<th>Monthly</th>
				<td ng-model="quote.perLocation.monthly">{{quote.perLocation.monthly | currency:"$":0}}</td>
				<td ng-model="quote.allLocations.monthly">{{quote.allLocations.monthly | currency:"$":0}}</td>
			</tr>
		</table>

		<div class="price-box-cta">

		</div>
	</div>

</div>
<!-- end CONTACT -->